// variables
$deepBlack: #222222;
$normalBlack: #333333;
$deepAsh: #888888;
$normalAsh: #CBCBCB;
$white: #FAFAFA;

// global style 
body {
  scroll-behavior: smooth;
  color: $deepAsh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 26px;
}
a {
  color: $deepBlack !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $deepBlack;
}
p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
}
h1 {
  font-size: 42px;
  color: $deepBlack;
  font-family: 'Libre Caslon Text', serif;
}
h2 {
  font-size: 32px;
  color: $deepBlack;
  font-family: 'Libre Caslon Text', serif;
}
h3 {
  font-size: 24px;
  color: $deepBlack;
  font-family: 'Libre Caslon Text', serif;
}
h4 {
  font-size: 18px;
  color: $deepBlack;
}
small {
  font-size: 14px;
  line-height: 14px;
  color: #999999;
}
.btn {
  background: none;
  color: $deepBlack;
}
.btn:focus {
  box-shadow: none;
}
form .btn {
  border-radius: 2px;
  border: 1px solid #000;
  padding: 12px 30px;
  font-size: 15px;
  line-height: 18px;
  color: #fff !important;
  background: $deepBlack;
}
form .btn:hover {
  color: $deepBlack !important;
  background: #fff;
}
.form-control {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ADADAD;
}
.form-control::placeholder {
  color: #999999;
}
.form-check-input[type=checkbox] {
  border-radius: 0;
  width: 1.1em;
  height: 1.1em;
}
.form-check-input:focus  {
  box-shadow: none;
}
.border-solid-black {
  border: 1px solid $deepBlack;
}
.border-only-bottom {
  border-bottom: 1px solid #999999;
}
.border-bottom-category-name {
  border-bottom: 1px solid #777777;
}
.dropdown-item:active {
  background-color: #fff !important;
}
.comment-heading {
  color: #666666;
  line-height: 18px;
  font-weight: 450;
}
.dropdown-menu {
  left: -45px;
  box-shadow: 0px 2px 8px 0px #ccc;
}
#search-overlay {
  background: #0000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}


// home page start
.home-banner {
  background: url('../images/home-hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .full-header {
    .container {
      max-width: 1020px;
    }
    .navbar-brand {
      .img-fluid {
        width: 90%;
      }
    }
    .nav-search {
      color: $white;
      background: $deepBlack;
      padding: 6px 0;
      margin-top: 2px;
      cursor: pointer;
      .input-group {
        background: #fff;
        padding: 5px;
      }
      .search-btn {
        padding: 8px 11px;
      }
      .hidden-search {
        right: 0;
        top: 45px;
        width: 280px;
      }
      #hiddenSeacrh {
        display: none;
      }
    }
  }
  .banner-inner {
    padding: 60px 0 75px;
    .heading {
      line-height: 58px;
      font-size: 41px;
    }
    .social-icon {
      li {
        a {
          font-size: 15px;
          color: $white !important;
          height: 35px;
          width: 35px;
          background: $normalBlack;
          border-radius: 50px;
          margin: 0 5px;
          line-height: 34px;
        }
      }
    }
  }
}

// trending post start
.home-trending-post {
  padding: 60px 0 0;
  .heading {
    span {
      padding-bottom: 5px;
    }
  }
  .card {
    .category-name {
      color: #999999 !important;
      span {
        border-bottom: 1px solid #CBCBCB;
        padding-bottom: 4px;
        font-size: 13px;
      }
    }
    .card-title {
      margin: 15px 0 10px;
    }
    .post-meta {
      i {
        color: $deepBlack;
        margin-right: 2px;
      }
    }
  }
}

// insta image profile start
.instagram-feed {
  margin-top: 60px;
  .heading {
    line-height: 32px;
    span {
      padding-bottom: 8px;
    }
  }
  .all-post {
    margin: 2.4rem 0 4rem;
  }
  .eapps-instagram-feed {
    padding: 0;
  }
  .eapps-instagram-feed-posts-item-template-classic {
    border: none;
  }
}

// footer start
.footer {
  background: $white;
  .top-footer {
    padding: 45px 0;
  }
  .footer-nav {
    margin: 38px 0;
    a {
      font-size: 18px;
      line-height: 18px;
      margin: 0 2px;
    }
  }
  .social-icon {
    li {
      display: inline-block;
      a {
        display: block;
        font-size: 15px;
        color: $white !important;
        height: 37px;
        width: 37px;
        background: #000;
        text-align: center;
        border-radius: 50px;
        margin: 0 7px;
        line-height: 37px;
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid #DEDEDE;
    p {
      font-size: 14px;
      line-height: 15px;
      color: #ADADAD;
      a {
        color: #ADADAD !important;
        transition: 0.5s;
      }
      a:hover {
        color: $normalBlack !important;
      }
    }
  }
}
// home page end

// home page 2 start
.home2-full-header {
  .nav-logo {
    padding: 30px 0;
    img {
      width: 185px;
      height: auto;
    }
  }
  .nav-menu-all {
    margin-bottom: 25px;
    .nav-link {
      margin: 0 2px;
    }
  }
}

// home2 banner start
.home2-banner {
  .container {
    max-width: 855px;
  }
  .text-part {
    margin-top: -120px;
    .inner {
      width: 615px;
      background: #fff;
      padding: 52px 70px;
      .category-name {
        font-size: 13px;
        padding-bottom: 6px;
        a {
          color: #999999 !important;
        }
      }
      .post-title {
        margin: 15px 0 18px;
      }
      .post-description {
        color: #999999;
        padding: 0 50px;
      }
      .post-meta {
        i {
          color: $deepBlack;
          margin-right: 2px;
        }
      }
      .btn {
        color: $deepBlack;
        i {
          margin-left: 4px;
        }
      }
    }
  }
}

// home2 blogs
.home2-blogs {
  padding: 2rem 0 1rem;
  .container {
    max-width: 840px;
  }
  .text-part {
      background: #fff;
      padding: 30px 30px;
      margin-left: -120px;
      margin-top: 2rem;
      .category-name {
        font-size: 13px;
        padding-bottom: 6px;
        a {
          color: #999999 !important;
        }
      }
      .post-title {
        line-height: 34px;
        margin: 13px 0 16px;
      }
      .post-description {
        color: #999999;
        padding: 0 50px;
      }
      .post-meta {
        i {
          color: $deepBlack;
          margin-right: 2px;
        }
      }
      .btn {
        i {
          margin-left: 4px;
        }
      }
  }
}
// home page 2 end

// blog details start
.blog-deatils-page {
  .container {
    max-width: 900px;
  }
  .blog-body {
    padding: 50px 65px 0;
    .post-title {
      font-size: 30px;
      line-height: 46px;
    }
    .post-meta {
      i {
        color: $deepBlack;
      }
    }
    .quotes {
      margin: 2.5rem 0 2rem;
      padding: 36px 70px 30px;
      background: #f8f8f8;
      .quotes-text {
        line-height: 32px;
        i {
          font-size: 2rem;
        }
        .left-top-icon {
          top: -8px;
          left: -42px;
        }
        .right-bottom-icon {
          bottom: -15px;
          right: -32px;
        }
      }
      .writter {
        color: $normalBlack;
        font-size: 20px;
        line-height: 34px;
      }
    }
  }
  .no-comments {
    border-bottom: 1px solid #DEDEDE;
    .text {
      margin-bottom: -12px;
    }
    span {
      background: #fff;
      font-size: 14px;
    }
  }
  .comments-reply {
    padding: 2rem 0 1.4rem;
    form {
      .form-check-label {
        line-height: 17px;
        font-size: 14px;
      }
    }
  }
}

// blog details footer
.footer-blog-details {
  .social-icon {
    li a {
      background: #e4e4e4;
      color: #a5a5a5 !important;
    }
  }
}
// blog details end

// contact page start
.contact-form {
  .container {
    max-width: 900px;
  }
  .form-group {
    margin-bottom: 2rem;
    label {
      color: $normalBlack;
      font-size: 18px;
      line-height: 22px;
    }
    .form-control {
      border: none;
      border-bottom: 1px solid $normalAsh;
      padding: 8px 0px 12px;
    }
  }
}
.contact-page-block {
  max-width: 900px;
  padding: 40px;
  border-top: 1px solid $normalAsh;
  .heading {
    line-height: 43px;
    color: #003135;
  }
}
// address info start
.address {
  font-size: 18px;
  line-height: 28px;
}
// google map start
.contact-google-map {
  iframe {
    width: 100%;
    min-height: 360px;
  }
}
// contact page end

// privacy page start
.privacy-policy {
  margin: 2rem 0 3.5rem;
  .container {
    max-width: 840px;
    .heading {
      span {
        padding-bottom: 12px;
      }
    }
    .block {
      margin-top: 50px;
      .title {
        margin-bottom: 15px;
      }
    }
  }
  ul {
    color: $deepBlack;
  }
}
// privacy page end

// portfolio start
.portfolio-images {
  .container {
    max-width: 1040px;
  }
  .heading {
    span {
      padding-bottom: 12px;
    }
  }
  .row {
    padding-top: 2rem;
  }
  .col-md-4 {
    padding: 0 15px;
  }
  img {
    margin-bottom: 30px;
  }
  .portfolio-image {
    .hidden-tag {
      opacity: 0;
      top: 18px;
      right: 20px;
      left: 20px;
      padding: 20px 22px;
      background: rgba(0, 0, 0, 0.8);
      transition: 0.5s;
      .title {
        color: #fff;
        margin-bottom: 15px;
      }
      .description {
        color: #c6c6c6;
      }
    }
  }
  .portfolio-image:hover .hidden-tag {
    opacity: 1;
  }
}
// portfolio end

// portfolio details start
.portfolio-details {
  margin-bottom: 30px;
  .container {
    max-width: 980px;
  }
  .heading {
    span {
      padding-bottom: 12px;
    }
  }
  .description {
    margin: 32px 0 30px;
  }
  img {
    margin-bottom: 30px;
  }
}
// portfolio details end

// about start
.about  {
  .container {
    max-width: 740px;
  }
  .title {
    line-height: 42px;
    margin: 30px 0 15px;
  }
  .skills {
    margin: 50px 0;
    padding: 66px 0;
    background: #fbfbfb;
    .skill-round {
      margin-bottom: 35px;
      .inner {
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.04);
        width: 160px;
        height: 160px;
        i {
          color: $deepBlack;
          font-size: 35px;
        }
      }
    }
    .skill-label {
      color: $normalBlack;
    }
  }
  .facts {
    .heading {
      margin-bottom: 2rem;
      span {
        padding-bottom: 12px;
      }
    }
    .fact-item {
      padding: 18px 0;
      color: $normalBlack;
      border-bottom: 1px solid #dddddd;
    }
    .fact-item:last-child {
      border-bottom: none;
    }
  }
}
// about end


// custom media query
// below 1200px 
@media (max-width: 1199px) {

}
// below 992px 
@media (max-width: 991px) {

}
// below 768px 
@media (max-width: 767px) {
  // home1
  .home-banner {
    .full-header {
      .nav-search {
        width: 33px;
        height: 33px;
        .hidden-search {
          left: 0;
        }
      }
    }
  }

  // home2
  .home2-single-post {
    .row {
      margin-bottom: 0 !important;
    }
    .text-part {
      margin: 0;
    }
  }
}
// below 576px 
@media (max-width: 575px) {
  // home1
  .home-banner {
    .banner-inner {
      padding: 40px 0 40px;
    }
  }

  // home2
  .home2-banner {
    .text-part {
      margin-top: 0;
      .inner {
        padding: 25px 0px;
        .post-description {
          padding: 0;
        }
      }
    }
  }
  .home2-full-header {
    .nav-menu-all {
      .nav-link {
        margin: 0;
      }
    }
  }
  .home2-blogs {
    .text-part {
      margin-left: 0;
      padding: 0;
    }
  }

  // blog details start
  .blog-deatils-page {
    .blog-body {
      padding: 0;
    }
  }
}