body {
  scroll-behavior: smooth;
  color: #888888;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #222222 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #222222;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-size: 42px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h2 {
  font-size: 32px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h3 {
  font-size: 24px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h4 {
  font-size: 18px;
  color: #222222;
}

small {
  font-size: 14px;
  line-height: 14px;
  color: #999999;
}

.btn {
  background: none;
  color: #222222;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .btn {
  border-radius: 2px;
  border: 1px solid #000;
  padding: 12px 30px;
  font-size: 15px;
  line-height: 18px;
  color: #fff !important;
  background: #222222;
}

form .btn:hover {
  color: #222222 !important;
  background: #fff;
}

.form-control {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ADADAD;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-control::placeholder {
  color: #999999;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
  width: 1.1em;
  height: 1.1em;
}

.form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.border-solid-black {
  border: 1px solid #222222;
}

.border-only-bottom {
  border-bottom: 1px solid #999999;
}

.border-bottom-category-name {
  border-bottom: 1px solid #777777;
}

.dropdown-item:active {
  background-color: #fff !important;
}

.comment-heading {
  color: #666666;
  line-height: 18px;
  font-weight: 450;
}

.dropdown-menu {
  left: -45px;
  -webkit-box-shadow: 0px 2px 8px 0px #ccc;
          box-shadow: 0px 2px 8px 0px #ccc;
}

#search-overlay {
  background: #0000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.home-banner {
  background: url("../images/home-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-banner .full-header .container {
  max-width: 1020px;
}

.home-banner .full-header .navbar-brand .img-fluid {
  width: 90%;
}

.home-banner .full-header .nav-search {
  color: #FAFAFA;
  background: #222222;
  padding: 6px 0;
  margin-top: 2px;
  cursor: pointer;
}

.home-banner .full-header .nav-search .input-group {
  background: #fff;
  padding: 5px;
}

.home-banner .full-header .nav-search .search-btn {
  padding: 8px 11px;
}

.home-banner .full-header .nav-search .hidden-search {
  right: 0;
  top: 45px;
  width: 280px;
}

.home-banner .full-header .nav-search #hiddenSeacrh {
  display: none;
}

.home-banner .banner-inner {
  padding: 60px 0 75px;
}

.home-banner .banner-inner .heading {
  line-height: 58px;
  font-size: 41px;
}

.home-banner .banner-inner .social-icon li a {
  font-size: 15px;
  color: #FAFAFA !important;
  height: 35px;
  width: 35px;
  background: #333333;
  border-radius: 50px;
  margin: 0 5px;
  line-height: 34px;
}

.home-trending-post {
  padding: 60px 0 0;
}

.home-trending-post .heading span {
  padding-bottom: 5px;
}

.home-trending-post .card .category-name {
  color: #999999 !important;
}

.home-trending-post .card .category-name span {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 4px;
  font-size: 13px;
}

.home-trending-post .card .card-title {
  margin: 15px 0 10px;
}

.home-trending-post .card .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.instagram-feed {
  margin-top: 60px;
}

.instagram-feed .heading {
  line-height: 32px;
}

.instagram-feed .heading span {
  padding-bottom: 8px;
}

.instagram-feed .all-post {
  margin: 2.4rem 0 4rem;
}

.instagram-feed .eapps-instagram-feed {
  padding: 0;
}

.instagram-feed .eapps-instagram-feed-posts-item-template-classic {
  border: none;
}

.footer {
  background: #FAFAFA;
}

.footer .top-footer {
  padding: 45px 0;
}

.footer .footer-nav {
  margin: 38px 0;
}

.footer .footer-nav a {
  font-size: 18px;
  line-height: 18px;
  margin: 0 2px;
}

.footer .social-icon li {
  display: inline-block;
}

.footer .social-icon li a {
  display: block;
  font-size: 15px;
  color: #FAFAFA !important;
  height: 37px;
  width: 37px;
  background: #000;
  text-align: center;
  border-radius: 50px;
  margin: 0 7px;
  line-height: 37px;
}

.footer .bottom-footer {
  border-top: 1px solid #DEDEDE;
}

.footer .bottom-footer p {
  font-size: 14px;
  line-height: 15px;
  color: #ADADAD;
}

.footer .bottom-footer p a {
  color: #ADADAD !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .bottom-footer p a:hover {
  color: #333333 !important;
}

.home2-full-header .nav-logo {
  padding: 30px 0;
}

.home2-full-header .nav-logo img {
  width: 185px;
  height: auto;
}

.home2-full-header .nav-menu-all {
  margin-bottom: 25px;
}

.home2-full-header .nav-menu-all .nav-link {
  margin: 0 2px;
}

.home2-banner .container {
  max-width: 855px;
}

.home2-banner .text-part {
  margin-top: -120px;
}

.home2-banner .text-part .inner {
  width: 615px;
  background: #fff;
  padding: 52px 70px;
}

.home2-banner .text-part .inner .category-name {
  font-size: 13px;
  padding-bottom: 6px;
}

.home2-banner .text-part .inner .category-name a {
  color: #999999 !important;
}

.home2-banner .text-part .inner .post-title {
  margin: 15px 0 18px;
}

.home2-banner .text-part .inner .post-description {
  color: #999999;
  padding: 0 50px;
}

.home2-banner .text-part .inner .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-banner .text-part .inner .btn {
  color: #222222;
}

.home2-banner .text-part .inner .btn i {
  margin-left: 4px;
}

.home2-blogs {
  padding: 2rem 0 1rem;
}

.home2-blogs .container {
  max-width: 840px;
}

.home2-blogs .text-part {
  background: #fff;
  padding: 30px 30px;
  margin-left: -120px;
  margin-top: 2rem;
}

.home2-blogs .text-part .category-name {
  font-size: 13px;
  padding-bottom: 6px;
}

.home2-blogs .text-part .category-name a {
  color: #999999 !important;
}

.home2-blogs .text-part .post-title {
  line-height: 34px;
  margin: 13px 0 16px;
}

.home2-blogs .text-part .post-description {
  color: #999999;
  padding: 0 50px;
}

.home2-blogs .text-part .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-blogs .text-part .btn i {
  margin-left: 4px;
}

.blog-deatils-page .container {
  max-width: 900px;
}

.blog-deatils-page .blog-body {
  padding: 50px 65px 0;
}

.blog-deatils-page .blog-body .post-title {
  font-size: 30px;
  line-height: 46px;
}

.blog-deatils-page .blog-body .post-meta i {
  color: #222222;
}

.blog-deatils-page .blog-body .quotes {
  margin: 2.5rem 0 2rem;
  padding: 36px 70px 30px;
  background: #f8f8f8;
}

.blog-deatils-page .blog-body .quotes .quotes-text {
  line-height: 32px;
}

.blog-deatils-page .blog-body .quotes .quotes-text i {
  font-size: 2rem;
}

.blog-deatils-page .blog-body .quotes .quotes-text .left-top-icon {
  top: -8px;
  left: -42px;
}

.blog-deatils-page .blog-body .quotes .quotes-text .right-bottom-icon {
  bottom: -15px;
  right: -32px;
}

.blog-deatils-page .blog-body .quotes .writter {
  color: #333333;
  font-size: 20px;
  line-height: 34px;
}

.blog-deatils-page .no-comments {
  border-bottom: 1px solid #DEDEDE;
}

.blog-deatils-page .no-comments .text {
  margin-bottom: -12px;
}

.blog-deatils-page .no-comments span {
  background: #fff;
  font-size: 14px;
}

.blog-deatils-page .comments-reply {
  padding: 2rem 0 1.4rem;
}

.blog-deatils-page .comments-reply form .form-check-label {
  line-height: 17px;
  font-size: 14px;
}

.footer-blog-details .social-icon li a {
  background: #e4e4e4;
  color: #a5a5a5 !important;
}

.contact-form .container {
  max-width: 900px;
}

.contact-form .form-group {
  margin-bottom: 2rem;
}

.contact-form .form-group label {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
}

.contact-form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #CBCBCB;
  padding: 8px 0px 12px;
}

.contact-page-block {
  max-width: 900px;
  padding: 40px;
  border-top: 1px solid #CBCBCB;
}

.contact-page-block .heading {
  line-height: 43px;
  color: #003135;
}

.address {
  font-size: 18px;
  line-height: 28px;
}

.contact-google-map iframe {
  width: 100%;
  min-height: 360px;
}

.privacy-policy {
  margin: 2rem 0 3.5rem;
}

.privacy-policy .container {
  max-width: 840px;
}

.privacy-policy .container .heading span {
  padding-bottom: 12px;
}

.privacy-policy .container .block {
  margin-top: 50px;
}

.privacy-policy .container .block .title {
  margin-bottom: 15px;
}

.privacy-policy ul {
  color: #222222;
}

.portfolio-images .container {
  max-width: 1040px;
}

.portfolio-images .heading span {
  padding-bottom: 12px;
}

.portfolio-images .row {
  padding-top: 2rem;
}

.portfolio-images .col-md-4 {
  padding: 0 15px;
}

.portfolio-images img {
  margin-bottom: 30px;
}

.portfolio-images .portfolio-image .hidden-tag {
  opacity: 0;
  top: 18px;
  right: 20px;
  left: 20px;
  padding: 20px 22px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio-images .portfolio-image .hidden-tag .title {
  color: #fff;
  margin-bottom: 15px;
}

.portfolio-images .portfolio-image .hidden-tag .description {
  color: #c6c6c6;
}

.portfolio-images .portfolio-image:hover .hidden-tag {
  opacity: 1;
}

.portfolio-details {
  margin-bottom: 30px;
}

.portfolio-details .container {
  max-width: 980px;
}

.portfolio-details .heading span {
  padding-bottom: 12px;
}

.portfolio-details .description {
  margin: 32px 0 30px;
}

.portfolio-details img {
  margin-bottom: 30px;
}

.about .container {
  max-width: 740px;
}

.about .title {
  line-height: 42px;
  margin: 30px 0 15px;
}

.about .skills {
  margin: 50px 0;
  padding: 66px 0;
  background: #fbfbfb;
}

.about .skills .skill-round {
  margin-bottom: 35px;
}

.about .skills .skill-round .inner {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.04);
          box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.04);
  width: 160px;
  height: 160px;
}

.about .skills .skill-round .inner i {
  color: #222222;
  font-size: 35px;
}

.about .skills .skill-label {
  color: #333333;
}

.about .facts .heading {
  margin-bottom: 2rem;
}

.about .facts .heading span {
  padding-bottom: 12px;
}

.about .facts .fact-item {
  padding: 18px 0;
  color: #333333;
  border-bottom: 1px solid #dddddd;
}

.about .facts .fact-item:last-child {
  border-bottom: none;
}

@media (max-width: 767px) {
  .home-banner .full-header .nav-search {
    width: 33px;
    height: 33px;
  }
  .home-banner .full-header .nav-search .hidden-search {
    left: 0;
  }
  .home2-single-post .row {
    margin-bottom: 0 !important;
  }
  .home2-single-post .text-part {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .home-banner .banner-inner {
    padding: 40px 0 40px;
  }
  .home2-banner .text-part {
    margin-top: 0;
  }
  .home2-banner .text-part .inner {
    padding: 25px 0px;
  }
  .home2-banner .text-part .inner .post-description {
    padding: 0;
  }
  .home2-full-header .nav-menu-all .nav-link {
    margin: 0;
  }
  .home2-blogs .text-part {
    margin-left: 0;
    padding: 0;
  }
  .blog-deatils-page .blog-body {
    padding: 0;
  }
}
