body {
  scroll-behavior: smooth;
  color: #888888;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #222222 !important;
}

a:hover {
  text-decoration: none;
  color: #222222;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-size: 42px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h2 {
  font-size: 32px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h3 {
  font-size: 24px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h4 {
  font-size: 18px;
  color: #222222;
}

.btn {
  border-radius: 2px;
  color: #222222;
  background: #fff;
  border: 1px solid #000;
}

.btn:hover {
  background: #222222;
  color: #fff !important;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ADADAD;
}

.border-solid-black {
  border: 1px solid #222222;
}

.border-only-bottom {
  border-bottom: 1px solid #999999;
}

.border-bottom-category-name {
  border-bottom: 1px solid #777777;
}

.max-width-840 {
  max-width: 840px;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-16 {
  line-height: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.dropdown-item:active {
  background-color: none !important;
}

.home-hero {
  background: url("../images/home-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-hero .full-nav .container {
  max-width: 1020px;
}

.home-hero .full-nav .navbar-brand .img-fluid {
  width: 90%;
}

.home-hero .full-nav .nav-search {
  color: #FAFAFA;
  background: #222222;
  padding: 6px 0;
  margin-top: 2px;
  cursor: pointer;
}

.home-hero .full-nav .nav-search .search-btn {
  padding: 8px 11px;
}

.home-hero .full-nav .nav-search .hidden-search {
  right: 0;
  top: 45px;
  width: 200px;
}

.home-hero .full-nav .nav-search #hiddenSeacrh {
  display: none;
}

.home-hero .hero-middle {
  padding: 60px 0 75px;
}

.home-hero .hero-middle .heading {
  line-height: 58px;
  font-size: 41px;
}

.home-hero .hero-middle .social-icon li a {
  font-size: 15px;
  color: #FAFAFA !important;
  height: 35px;
  width: 35px;
  background: #333333;
  border-radius: 50px;
  margin: 5px;
  line-height: 34px;
}

.home-trending-post {
  padding: 60px 0;
}

.home-trending-post .heading span {
  padding-bottom: 5px;
}

.home-trending-post .single-post .category-name {
  font-size: 13px;
  margin: 20px 0;
}

.home-trending-post .single-post .category-name a {
  color: #999999 !important;
}

.home-trending-post .single-post .category-name span {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 4px;
}

.home-trending-post .single-post .post-description {
  color: #999999;
}

.home-trending-post .single-post .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home-trending-post .single-post .post-meta span {
  color: #999999;
}

.home-insta-profile .heading {
  line-height: 32px;
}

.home-insta-profile .heading span {
  padding-bottom: 5px;
}

.home-insta-profile .all-post {
  margin: 1.5rem 0 4rem;
}

.footer {
  background: #FAFAFA;
}

.footer .top-footer {
  padding: 45px 0;
}

.footer .footer-nav {
  margin: 38px 0;
}

.footer .footer-nav a {
  font-size: 18px;
  line-height: 18px;
  margin: 0 2px;
}

.footer .social-icon li {
  display: inline-block;
}

.footer .social-icon li a {
  display: block;
  font-size: 15px;
  color: #FAFAFA !important;
  height: 37px;
  width: 37px;
  background: #000;
  text-align: center;
  border-radius: 50px;
  margin: 0 7px;
  line-height: 37px;
}

.footer .bottom-footer {
  border-top: 1px solid #DEDEDE;
}

.footer .bottom-footer p {
  line-height: 15px;
  color: #ADADAD;
}

.footer .bottom-footer p a {
  color: #ADADAD !important;
}

.home2-full-navbar .nav-logo {
  padding: 30px 0;
}

.home2-full-navbar .nav-logo img {
  width: 185px;
  height: auto;
}

.home2-full-navbar .nav-menu-all {
  margin-bottom: 25px;
}

.home2-full-navbar .nav-menu-all .nav-link {
  margin: 0 2px;
}

.home2-hero .container {
  max-width: 855px;
}

.home2-hero .text-part {
  margin-top: -120px;
}

.home2-hero .text-part .inner {
  width: 615px;
  background: #fff;
  padding: 25px 70px;
}

.home2-hero .text-part .inner .category-name {
  font-size: 13px;
  margin: 20px 0;
}

.home2-hero .text-part .inner .category-name span {
  border-bottom: 1px solid #777777;
  padding-bottom: 4px;
}

.home2-hero .text-part .inner .category-name span a {
  color: #999999 !important;
}

.home2-hero .text-part .inner .post-description {
  color: #999999;
}

.home2-hero .text-part .inner .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-hero .text-part .inner .post-meta span {
  color: #999999;
}

.home2-hero .text-part .inner .btn {
  color: #222222;
}

.home2-hero .text-part .inner .btn i {
  margin-left: 4px;
}

.home2-single-post {
  padding: 2rem 0 1rem;
}

.home2-single-post .text-part {
  background: #fff;
  padding: 25px 30px;
  margin-left: -120px;
  margin-top: 2rem;
}

.home2-single-post .text-part .category-name {
  font-size: 13px;
  margin: 20px 0;
}

.home2-single-post .text-part .category-name span {
  padding-bottom: 4px;
  color: #999999;
}

.home2-single-post .text-part .post-description {
  color: #999999;
}

.home2-single-post .text-part .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-single-post .text-part .post-meta span {
  color: #999999;
}

.home2-single-post .text-part .btn {
  color: #222222;
}

.home2-single-post .text-part .btn i {
  margin-left: 4px;
}

.home2-insta-profile {
  margin-top: 2rem;
}

.home2-insta-profile .heading span {
  padding-bottom: 5px;
}

.home2-insta-profile .all-post {
  margin: 1.5rem 0 4rem;
}

.single-post-page .container {
  max-width: 900px;
}

.single-post-page .text-part {
  padding: 50px 65px 38px;
}

.single-post-page .text-part .post-title {
  font-size: 30px;
  line-height: 46px;
}

.single-post-page .text-part .post-meta span {
  font-size: 14px;
  line-height: 14px;
  color: #999999;
}

.single-post-page .text-part .post-description {
  font-size: 15px;
  line-height: 26px;
  color: #888888;
}

.single-post-page .text-part .quotes {
  margin: 2.5rem 0;
  padding: 35px 40px 25px;
  background: #f8f8f8;
}

.single-post-page .text-part .quotes .quotes-text .text {
  font-size: 24px;
  line-height: 2rem;
}

.single-post-page .text-part .quotes .quotes-text i {
  font-size: 2rem;
}

.single-post-page .text-part .quotes .writter {
  color: #333333;
  font-size: 20px;
  line-height: 34px;
}

@media (max-width: 767px) {
  .home-hero .full-nav .nav-search {
    width: 33px;
    height: 33px;
  }
  .home-hero .full-nav .nav-search .hidden-search {
    left: 0;
  }
  .home2-single-post .row {
    margin-bottom: 0 !important;
  }
  .home2-single-post .text-part {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .home-hero .hero-middle {
    padding: 40px 0 40px;
  }
  .home-hero .hero-middle .heading {
    font-size: 30px;
  }
  .home2-hero .text-part {
    margin-top: 0;
  }
  .home2-hero .text-part .inner {
    padding: 25px 0px;
  }
  .home2-full-navbar .nav-menu-all .nav-link {
    margin: 0;
  }
  .home2-single-post .text-part {
    padding: 25px 0;
  }
}
