body {
  scroll-behavior: smooth;
  color: #888888;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #222222 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #222222;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-size: 42px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h2 {
  font-size: 32px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h3 {
  font-size: 24px;
  color: #222222;
  font-family: 'Libre Caslon Text', serif;
}

h4 {
  font-size: 18px;
  color: #222222;
}

.btn {
  background: none;
  color: #222222;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .btn {
  border-radius: 2px;
  border: 1px solid #000;
  padding: 9px 25px;
  font-size: 15px;
  line-height: 18px;
  color: #fff !important;
  background: #222222;
}

form .btn:hover {
  color: #222222 !important;
  background: #fff;
}

.form-control {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ADADAD;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-control::placeholder {
  color: #999999;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
  width: 1.1em;
  height: 1.1em;
}

.form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.border-solid-black {
  border: 1px solid #222222;
}

.border-only-bottom {
  border-bottom: 1px solid #999999;
}

.border-bottom-category-name {
  border-bottom: 1px solid #777777;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-16 {
  line-height: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.dropdown-item:active {
  background-color: #fff !important;
}

.comment-heading {
  color: #666666;
  line-height: 18px;
  font-weight: 450;
}

.home-banner {
  background: url("../images/home-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-banner .full-header .container {
  max-width: 1020px;
}

.home-banner .full-header .navbar-brand .img-fluid {
  width: 90%;
}

.home-banner .full-header .nav-search {
  color: #FAFAFA;
  background: #222222;
  padding: 6px 0;
  margin-top: 2px;
  cursor: pointer;
}

.home-banner .full-header .nav-search .input-group {
  background: #fff;
  padding: 5px;
}

.home-banner .full-header .nav-search .search-btn {
  padding: 8px 11px;
}

.home-banner .full-header .nav-search .hidden-search {
  right: 0;
  top: 45px;
  width: 280px;
}

.home-banner .full-header .nav-search #hiddenSeacrh {
  display: none;
}

.home-banner .banner-inner {
  padding: 60px 0 75px;
}

.home-banner .banner-inner .heading {
  line-height: 58px;
  font-size: 41px;
  padding: 0 10rem;
}

.home-banner .banner-inner .social-icon li a {
  font-size: 15px;
  color: #FAFAFA !important;
  height: 35px;
  width: 35px;
  background: #333333;
  border-radius: 50px;
  margin: 5px;
  line-height: 34px;
}

.home-trending-post {
  padding: 60px 0;
}

.home-trending-post .heading span {
  padding-bottom: 5px;
}

.home-trending-post .card .category-name {
  font-size: 13px;
  margin: 4px 0 20px;
}

.home-trending-post .card .category-name a {
  color: #999999 !important;
}

.home-trending-post .card .category-name span {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 4px;
}

.home-trending-post .card .post-description {
  color: #999999;
}

.home-trending-post .card .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home-trending-post .card .post-meta span {
  color: #999999;
}

.instagram-profile .heading {
  line-height: 32px;
}

.instagram-profile .heading span {
  padding-bottom: 5px;
}

.instagram-profile .all-post {
  margin: 1.5rem 0 4rem;
}

.footer {
  background: #FAFAFA;
}

.footer .top-footer {
  padding: 45px 0;
}

.footer .footer-nav {
  margin: 38px 0;
}

.footer .footer-nav a {
  font-size: 18px;
  line-height: 18px;
  margin: 0 2px;
}

.footer .social-icon li {
  display: inline-block;
}

.footer .social-icon li a {
  display: block;
  font-size: 15px;
  color: #FAFAFA !important;
  height: 37px;
  width: 37px;
  background: #000;
  text-align: center;
  border-radius: 50px;
  margin: 0 7px;
  line-height: 37px;
}

.footer .bottom-footer {
  border-top: 1px solid #DEDEDE;
}

.footer .bottom-footer p {
  line-height: 15px;
  color: #ADADAD;
}

.footer .bottom-footer p a {
  color: #ADADAD !important;
}

.home2-full-header .nav-logo {
  padding: 30px 0;
}

.home2-full-header .nav-logo img {
  width: 185px;
  height: auto;
}

.home2-full-header .nav-menu-all {
  margin-bottom: 25px;
}

.home2-full-header .nav-menu-all .nav-link {
  margin: 0 2px;
}

.home2-banner .container {
  max-width: 855px;
}

.home2-banner .text-part {
  margin-top: -120px;
}

.home2-banner .text-part .inner {
  width: 615px;
  background: #fff;
  padding: 25px 70px;
}

.home2-banner .text-part .inner .category-name {
  font-size: 13px;
  margin: 20px 0;
}

.home2-banner .text-part .inner .category-name span {
  padding-bottom: 4px;
}

.home2-banner .text-part .inner .category-name span a {
  color: #999999 !important;
}

.home2-banner .text-part .inner .post-description {
  color: #999999;
}

.home2-banner .text-part .inner .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-banner .text-part .inner .post-meta span {
  color: #999999;
}

.home2-banner .text-part .inner .btn {
  color: #222222;
}

.home2-banner .text-part .inner .btn i {
  margin-left: 4px;
}

.home2-blogs {
  padding: 2rem 0 1rem;
}

.home2-blogs .container {
  max-width: 840px;
}

.home2-blogs .text-part {
  background: #fff;
  padding: 25px 30px;
  margin-left: -120px;
  margin-top: 2rem;
}

.home2-blogs .text-part .category-name {
  font-size: 13px;
  margin: 20px 0;
}

.home2-blogs .text-part .category-name span {
  padding-bottom: 4px;
  color: #999999;
}

.home2-blogs .text-part .post-title {
  line-height: 34px;
}

.home2-blogs .text-part .post-description {
  color: #999999;
}

.home2-blogs .text-part .post-meta i {
  color: #222222;
  margin-right: 2px;
}

.home2-blogs .text-part .post-meta span {
  color: #999999;
}

.home2-blogs .text-part .btn i {
  margin-left: 4px;
}

.blog-deatils-page .container {
  max-width: 900px;
}

.blog-deatils-page .blog-body {
  padding: 50px 65px 38px;
}

.blog-deatils-page .blog-body .post-title {
  font-size: 30px;
  line-height: 46px;
}

.blog-deatils-page .blog-body .post-meta i {
  color: #222222;
}

.blog-deatils-page .blog-body .post-meta span {
  color: #999999;
}

.blog-deatils-page .blog-body .quotes {
  margin: 2.5rem 0 2rem;
  padding: 36px 70px 30px;
  background: #f8f8f8;
}

.blog-deatils-page .blog-body .quotes .quotes-text {
  line-height: 32px;
}

.blog-deatils-page .blog-body .quotes .quotes-text i {
  font-size: 2rem;
}

.blog-deatils-page .blog-body .quotes .quotes-text .left-top-icon {
  top: -8px;
  left: -42px;
}

.blog-deatils-page .blog-body .quotes .quotes-text .right-bottom-icon {
  bottom: -15px;
  right: -32px;
}

.blog-deatils-page .blog-body .quotes .writter {
  color: #333333;
  font-size: 20px;
  line-height: 34px;
}

.blog-deatils-page .no-comments {
  border-bottom: 1px solid #DEDEDE;
}

.blog-deatils-page .no-comments .text {
  margin-bottom: -12px;
}

.blog-deatils-page .no-comments span {
  background: #fff;
}

.blog-deatils-page .comments-reply {
  padding: 2rem 0 1.4rem;
}

.blog-deatils-page .comments-reply form .form-check-label {
  line-height: 17px;
}

.footer-blog-details .social-icon li a {
  background: #e4e4e4;
  color: #a5a5a5 !important;
}

.contact-form .container {
  max-width: 900px;
}

.contact-form .form-group {
  margin-bottom: 2rem;
}

.contact-form .form-group label {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
}

.contact-form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #CBCBCB;
  padding: 8px 0px 12px;
}

.contact-page-block {
  max-width: 900px;
  padding: 40px;
  border-top: 1px solid #CBCBCB;
}

.contact-page-block .heading {
  line-height: 43px;
  color: #003135;
}

.address {
  font-size: 18px;
  line-height: 28px;
}

.contact-google-map iframe {
  width: 100%;
  min-height: 360px;
}

@media (max-width: 991px) {
  .home-banner .banner-inner .heading {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .home-banner .full-header .nav-search {
    width: 33px;
    height: 33px;
  }
  .home-banner .full-header .nav-search .hidden-search {
    left: 0;
  }
  .home2-single-post .row {
    margin-bottom: 0 !important;
  }
  .home2-single-post .text-part {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .home-banner .banner-inner {
    padding: 40px 0 40px;
  }
  .home-banner .banner-inner .heading {
    font-size: 30px;
  }
  .home2-banner .text-part {
    margin-top: 0;
  }
  .home2-banner .text-part .inner {
    padding: 25px 0px;
  }
  .home2-full-header .nav-menu-all .nav-link {
    margin: 0;
  }
  .home2-single-post .text-part {
    padding: 25px 0;
  }
  .blog-deatils-page .blog-body {
    padding: 0;
  }
}
